body{
    background-color: rgb(161, 152, 152);

}
.container{
    width: 1200px;
    height: 650px;
    margin: 30px auto;
    background:radial-gradient(rgb(209, 11, 11),pink,white,green);
    position: relative;
}
#box{
    height: 600px;
    width: 350px;
    margin: 30px auto;
background-color: rgb(40, 110, 168);
position: relative;
top: 30px;
border-radius: 10px;
box-shadow: 3px 5px 12px rgb(34, 7, 134) ,3px 5px 10px rgb(12, 10, 10);
}
.box1{
    border-bottom: 2px solid black;
    width: 350px;
    height: 70px;
}
.place{
    height: 80px;
    border-bottom: 2px solid;
}
.operator_box{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;

}

.operator{
    width: 70px;
    height: 70px;
    margin-left: 13px;
    margin-top: 13px;
    background-color: rgb(40, 110, 168);
    border-radius: 50%;
    font-size: 1.3rem;
  
}
.number{
    width: 70px;
    height: 70px;
    margin-left: 13px;
    margin-top: 13px;
    background-color: rgb(40, 110, 168);
    border-radius: 50%;
    font-size: 1.3rem;
}
.history1{
    width: 160px;
    height: 70px;
    margin-left: 13px;
    margin-top: 13px;
    background-color: rgb(40, 110, 168);
    border-radius: 50%;
    font-size: 1.3rem;
}

button{
    background-color: rgba(29, 31, 33, 0.44);
}